PORT=3000
MONGO_URI=mongodb://miguel:Miguel1234@ac-ztvpjk8-shard-00-02.dndtyds.mongodb.net:27017/my_jwt_database?authSource=admin&tls=true&retryWrites=true&w=majority&directConnection=trueJWT_SECRET=f14e6a1c9843c52190c07232dfb9c0e467d5a910
JWT_EXPIRES_IN=1h
BCRYPT_SALT_ROUNDS=10