<!DOCTYPE html>
<html lang="es">

<head><%- include('partials/head') %>
        <title>403 - Acceso denegado</title>
</head>

<body class="grey lighten-4">
    <div class="container center-align" style="margin-top:120px">
        <i class="material-icons red-text" style="font-size:80px">block</i>
        <h3 class="red-text">403 - Acceso denegado</h3>
        <p>No tienes permisos suficientes para ver esta página.</p>
        <a href="/signIn" class="btn blue darken-2">Volver al inicio</a>
    </div>
    <%- include('partials/scripts') %>
</body>

</html>