<!DOCTYPE html>
<html lang="es">

<head><%- include('partials/head') %>
        <title>404 - No encontrado</title>
</head>

<body class="grey lighten-4">
    <div class="container center-align" style="margin-top:120px">
        <i class="material-icons grey-text" style="font-size:80px">search_off</i>
        <h3>404 - Página no encontrada</h3>
        <p>La ruta que buscas no existe.</p>
        <a href="/signIn" class="btn blue darken-2">Volver al inicio</a>
    </div>
    <%- include('partials/scripts') %>
</body>

</html>